{{.LineSpace}}{{printf "%s" (index .LineArt 0)}}{{.Brush}}{{printf "%s" (index .CharArt 0)}}{{.Reset}}{{.WordSpace}}
{{.LineSpace}}{{printf "%s" (index .LineArt 1)}}{{.Brush}}{{printf "%s" (index .CharArt 1)}}{{.Reset}}{{.WordSpace}}
{{.LineSpace}}{{printf "%s" (index .LineArt 2)}}{{.Brush}}{{printf "%s" (index .CharArt 2)}}{{.Reset}}{{.WordSpace}}
{{.LineSpace}}{{printf "%s" (index .LineArt 3)}}{{.Brush}}{{printf "%s" (index .CharArt 3)}}{{.Reset}}{{.WordSpace}}
{{.LineSpace}}{{printf "%s" (index .LineArt 4)}}{{.Brush}}{{printf "%s" (index .CharArt 4)}}{{.Reset}}{{.WordSpace}}
{{.LineSpace}}{{printf "%s" (index .LineArt 5)}}{{.Brush}}{{printf "%s" (index .CharArt 5)}}{{.Reset}}{{.WordSpace}}
{{.LineSpace}}{{printf "%s" (index .LineArt 6)}}{{.Brush}}{{printf "%s" (index .CharArt 6)}}{{.Reset}}{{.WordSpace}}
{{.LineSpace}}{{printf "%s" (index .LineArt 7)}}{{.Brush}}{{printf "%s" (index .CharArt 7)}}{{.Reset}}{{.WordSpace}}