{{printf "%s" (index .LineArt 0)}}{{.Brush}}{{printf "%s" (index .CharArt 0)}}{{.Reset}}
{{printf "%s" (index .LineArt 1)}}{{.Brush}}{{printf "%s" (index .CharArt 1)}}{{.Reset}}
{{printf "%s" (index .LineArt 2)}}{{.Brush}}{{printf "%s" (index .CharArt 2)}}{{.Reset}}
{{printf "%s" (index .LineArt 3)}}{{.Brush}}{{printf "%s" (index .CharArt 3)}}{{.Reset}}
{{printf "%s" (index .LineArt 4)}}{{.Brush}}{{printf "%s" (index .CharArt 4)}}{{.Reset}}
{{printf "%s" (index .LineArt 5)}}{{.Brush}}{{printf "%s" (index .CharArt 5)}}{{.Reset}}
{{printf "%s" (index .LineArt 6)}}{{.Brush}}{{printf "%s" (index .CharArt 6)}}{{.Reset}}
{{printf "%s" (index .LineArt 7)}}{{.Brush}}{{printf "%s" (index .CharArt 7)}}{{.Reset}}